[submodule "Rpsls/Assets/Scripts/Network"]
	path = Rpsls/Assets/Scripts/Network
	url = https://github.com/kalkatos/network.git
[submodule "Rpsls/Assets/Scripts/Scriptable"]
	path = Rpsls/Assets/Scripts/Scriptable
	url = https://github.com/kalkatos/scriptable.git
[submodule "Rpsls/Assets/Scripts/CSharpGame"]
	path = Rpsls/Assets/Scripts/CSharpGame
	url = https://github.com/kalkatos/csharpgame.git
