[submodule "Rpsls/Assets/Game/Scripts/Network"]
	path = Rpsls/Assets/Game/Scripts/Network
	url = https://github.com/kalkatos/network.git
[submodule "Rpsls/Assets/Game/Scripts/Analytics"]
	path = Rpsls/Assets/Game/Scripts/Analytics
	url = https://github.com/kalkatos/analytics.git
[submodule "Rpsls/Assets/Game/Scripts/UnityGame"]
	path = Rpsls/Assets/Game/Scripts/UnityGame
	url = https://github.com/kalkatos/unitygame.git
[submodule "Rpsls/Assets/Game/Scripts/CSharpGame"]
	path = Rpsls/Assets/Game/Scripts/CSharpGame
	url = https://github.com/kalkatos/csharpgame.git
[submodule "Rpsls/Assets/Game/Scripts/Scriptable"]
	path = Rpsls/Assets/Game/Scripts/Scriptable
	url = https://github.com/kalkatos/scriptable.git
