<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tournament-functions.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2d485841-2cab-4130-93cc-68170ece2a22/resourceGroups/Tournament-Games/providers/Microsoft.Web/sites/tournament-functions</ResourceId>
    <UserName>$tournament-functions</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://tournament-functions.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>